@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bodrum Sans 11";
  src: url("/assets/fonts/BodrumSans-11Thin.eot");
  src: local("Bodrum Sans 11 Thin"), local("BodrumSans-11Thin"),
    url("/assets/fonts/BodrumSans-11Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-11Thin.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-11Thin.woff") format("woff"),
    url("/assets/fonts/BodrumSans-11Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 10 Hair";
  src: url("/assets/fonts/BodrumSans-10HairItalic.eot");
  src: local("Bodrum Sans 10 Hair Italic"), local("BodrumSans-10HairItalic"),
    url("/assets/fonts/BodrumSans-10HairItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-10HairItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-10HairItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-10HairItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 10 Hair";
  src: url("/assets/fonts/BodrumSans-10Hair.eot");
  src: local("Bodrum Sans 10 Hair"), local("BodrumSans-10Hair"),
    url("/assets/fonts/BodrumSans-10Hair.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-10Hair.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-10Hair.woff") format("woff"),
    url("/assets/fonts/BodrumSans-10Hair.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 12 Extra Light Ita";
  src: url("/assets/fonts/BodrumSans-12ExtraLightItalic.eot");
  src: local("Bodrum Sans 12 Extra Light Italic"),
    local("BodrumSans-12ExtraLightItalic"),
    url("/assets/fonts/BodrumSans-12ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-12ExtraLightItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-12ExtraLightItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-12ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 12 Extra";
  src: url("/assets/fonts/BodrumSans-12ExtraLight.eot");
  src: local("Bodrum Sans 12 Extra Light"), local("BodrumSans-12ExtraLight"),
    url("/assets/fonts/BodrumSans-12ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-12ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-12ExtraLight.woff") format("woff"),
    url("/assets/fonts/BodrumSans-12ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 11";
  src: url("/assets/fonts/BodrumSans-11ThinItalic.eot");
  src: local("Bodrum Sans 11 Thin Italic"), local("BodrumSans-11ThinItalic"),
    url("/assets/fonts/BodrumSans-11ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-11ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-11ThinItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-11ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 13";
  src: url("/assets/fonts/BodrumSans-13Light.eot");
  src: local("Bodrum Sans 13 Light"), local("BodrumSans-13Light"),
    url("/assets/fonts/BodrumSans-13Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-13Light.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-13Light.woff") format("woff"),
    url("/assets/fonts/BodrumSans-13Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 13";
  src: url("/assets/fonts/BodrumSans-13LightItalic.eot");
  src: local("Bodrum Sans 13 Light Italic"), local("BodrumSans-13LightItalic"),
    url("/assets/fonts/BodrumSans-13LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-13LightItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-13LightItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-13LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 14";
  src: url("/assets/fonts/BodrumSans-14Regular.eot");
  src: local("Bodrum Sans 14 Regular"), local("BodrumSans-14Regular"),
    url("/assets/fonts/BodrumSans-14Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-14Regular.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-14Regular.woff") format("woff"),
    url("/assets/fonts/BodrumSans-14Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 14 Regular";
  src: url("/assets/fonts/BodrumSans-14RegularItalic.eot");
  src: local("Bodrum Sans 14 Regular Italic"),
    local("BodrumSans-14RegularItalic"),
    url("/assets/fonts/BodrumSans-14RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-14RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-14RegularItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-14RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 15";
  src: url("/assets/fonts/BodrumSans-15MediumItalic.eot");
  src: local("Bodrum Sans 15 Medium Italic"), local("BodrumSans-15MediumItalic"),
    url("/assets/fonts/BodrumSans-15MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-15MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-15MediumItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-15MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 16";
  src: url("/assets/fonts/BodrumSans-16Bold.eot");
  src: local("Bodrum Sans 16 Bold"), local("BodrumSans-16Bold"),
    url("/assets/fonts/BodrumSans-16Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-16Bold.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-16Bold.woff") format("woff"),
    url("/assets/fonts/BodrumSans-16Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 15";
  src: url("/assets/fonts/BodrumSans-15Medium.eot");
  src: local("Bodrum Sans 15 Medium"), local("BodrumSans-15Medium"),
    url("/assets/fonts/BodrumSans-15Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-15Medium.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-15Medium.woff") format("woff"),
    url("/assets/fonts/BodrumSans-15Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 17 Extra Bold Ita";
  src: url("/assets/fonts/BodrumSans-17ExtraBoldItalic.eot");
  src: local("Bodrum Sans 17 Extra Bold Italic"),
    local("BodrumSans-17ExtraBoldItalic"),
    url("/assets/fonts/BodrumSans-17ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-17ExtraBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-17ExtraBoldItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-17ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 17 Extra";
  src: url("/assets/fonts/BodrumSans-17ExtraBold.eot");
  src: local("Bodrum Sans 17 Extra Bold"), local("BodrumSans-17ExtraBold"),
    url("/assets/fonts/BodrumSans-17ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-17ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-17ExtraBold.woff") format("woff"),
    url("/assets/fonts/BodrumSans-17ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 16";
  src: url("/assets/fontsBodrumSans-16BoldItalic.eot");
  src: local("Bodrum Sans 16 Bold Italic"), local("BodrumSans-16BoldItalic"),
    url("/assets/fonts/BodrumSans-16BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-16BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-16BoldItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-16BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 19";
  src: url("/assets/fonts/BodrumSans-19Black.eot");
  src: local("Bodrum Sans 19 Black"), local("BodrumSans-19Black"),
    url("/assets/fonts/BodrumSans-19Black.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-19Black.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-19Black.woff") format("woff"),
    url("/assets/fonts/BodrumSans-19Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 18";
  src: url("/assets/fonts/BodrumSans-18HeavyItalic.eot");
  src: local("Bodrum Sans 18 Heavy Italic"), local("BodrumSans-18HeavyItalic"),
    url("/assets/fonts/BodrumSans-18HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-18HeavyItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-18HeavyItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-18HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 18";
  src: url("/assets/fonts/BodrumSans-18Heavy.eot");
  src: local("Bodrum Sans 18 Heavy"), local("BodrumSans-18Heavy"),
    url("/assets/fonts/BodrumSans-18Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-18Heavy.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-18Heavy.woff") format("woff"),
    url("/assets/fonts/BodrumSans-18Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodrum Sans 19";
  src: url("/assets/fonts/BodrumSans-19BlackItalic.eot");
  src: local("Bodrum Sans 19 Black Italic"), local("BodrumSans-19BlackItalic"),
    url("/assets/fonts/BodrumSans-19BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BodrumSans-19BlackItalic.woff2") format("woff2"),
    url("/assets/fonts/BodrumSans-19BlackItalic.woff") format("woff"),
    url("/assets/fonts/BodrumSans-19BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.page-container {
  @apply container mx-auto px-4 lg:px-8;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.formTextArea {
}

/* * {
  border: 1px solid red;
} */

header {
  /* border-bottom: 1px solid rgba(91, 91, 91, 0.15); */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.login--bx {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.auth_pages--body {
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}

.sidebarmenu {
  position: fixed;
  top: 0;
  left: -70%;
  width: 0;
  height: 100%;
  bottom: 0;
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
  transition: all 0.3s ease-in;
}

.sidebarmenu.show {
  left: 0;
  width: 70%;
  transition: 0.5s ease-in-out;
}

.sidebarmenu .mobile_menu a {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.sidebarmenu .mobile_menu a.active {
  background-color: #3e7aa236;
}
.sidebarmenu .mobile_menu a:hover {
  background-color: #3e7aa236;
  transition: all 0.3s ease-in-out;
}
.sidebarmenu .mobile_menu a:after {
  transition: all 0.3s ease-in-out;
}

.sidebarmenu .mobile_menu a.active:after {
  border: 2px solid #3e7aa2;
  /* border-right-color: #3e7aa2; */
  content: "";
  height: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  transition: all 0.3s ease-in-out;
}

.active .nav-pointer {
  border: 5px solid transparent;
  border-left-color: #3e7aa2;
  content: "";
  height: 0;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  /* transform: rotate(180deg); */
  width: 0;
}

/* ====== TABS ===== */
.react-tabs li {
  background: #f2f1f1;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: #9b9999;
}

.react-tabs li.react-tabs__tab--selected {
  background: #3e7aa2;
  border-radius: inherit;
  border: 0;
  color: #fff;
}

/* react-tabs__tab--selected */

@media only screen and (max-width: 991px) {
  .modal-wrapper {
    max-width: 700px;
  }
}
@media only screen and (max-width: 767px) {
  .modal-wrapper {
    width: calc(100% - 40px);
  }
}

.fade-in {
  animation: fadeIn 300ms;
  -webkit-animation: fadeIn 300ms;
  -moz-animation: fadeIn 300ms;
  -o-animation: fadeIn 300ms;
  -ms-animation: fadeIn 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* === Dropdown Menu === */
.user-menu {
  display: none;
}

.user-menu.show {
  display: block;
}

.form-submenu {
  display: none;
}

.form-submenu.show {
  display: block;
}

.scrollbar-change::-webkit-scrollbar {
  width: 0.2rem;
}
.scrollbar-change::-webkit-scrollbar-track {
  background-color: (rgb(48, 47, 47) 173, 173);
}
.scrollbar-change::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  width: 0.1rem;
  background-color: #3e7aa2;
}

.remove-input-outline:focus {
  outline: none;
  border: none;
}

#react-qrcode-logo > img {
  object-fit: cover;
}

#nprogress .bar {
  background: #000 !important;
  z-index: 10000 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000 !important;
}

#nprogress .spinner-icon {
  border-top-color: #000;
  border-left-color: #000;
}

/* globals.css */
.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.page-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}
